p {
    font-family: 'Indie Flower', cursive;
}

body {
    background-image: url("../Images/Quote\ Me\ background.jpg");
    background-size: cover;
}


input[type="file"] {
    display: none;
}

.quote{
    font-size: 32px;
    color: black;
    font-family: 'Indie Flower', cursive;
}

.picContainer {
    margin-top: 20px;
    position: static;
    display: none; 
}

.emailValidation {
    margin-top: 250px;
    font-size: 50px;
}

.form-control {
    width: 50%;
}

.selectBtn {
    display: none;
}

.next {
    width: 700px;
    cursor: pointer;
}

.start {
    width: 700px;
    cursor: pointer;
}

.polaroid {
    background-color: white;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 30px;
    width: 600px;
    z-index: 0;
}

.quoteContainer {
    text-align: center;
    padding: 10px 10px;
  }

#angleTitle {
    z-index: 1;
    position: absolute;
    margin-top: -50px;
    margin-left: -60px;
    display: none; 
    width: 275px;
}

#nextButton, #backButton {
    visibility: hidden;
}


.indieFlower{
    font-family: 'Indie Flower', cursive;
    font-size: 48px;
}
/* #file {
    color: blue;
} */
