.progress-bar{
    color: white;
    background-color: black;
    display: non
    /* temporary styling */
}

.quote{
    font-size: 20px;
    color: black;
    font-family: 'Montserrat', sans-serif;
}

p {
    font-family: 'Montserrat', sans-serif;
}
/* 
.container2 {
    background-color: blue;
} */

.picContainer {
    margin-top: 20px;
    position: static;
}

.angleTitle {

    z-index: 1;
    position: absolute;
    /* margin-bottom: 120px; */
    margin-top: -80px;
    margin-left: -60px;
    display: none; 
}

/* 
.polaroid {
width: 575px;
position: static;
z-index: 0;
}


#uploaded {
    width: 400px;
    z-index: 10;
    position: absolute;
    /* margin-left: 0;
    margin-top: 20px; */




#file {
    color: blue;
}

body {
    background-image: url("../Images/Quote\ Me\ background.jpg");
    /* font-family: 'Shadows Into Light Two', cursive; */
    background-size: cover;
}


.polaroid {
    /* width: 50%; */
    background-color: white;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    padding: 30px;
    width: 600px;
    z-index: 0;
}

.quoteContainer {
    text-align: center;
    padding: 10px 20px;
  }

/* #uploaded
{

    width: 50%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    padding: 20px; */
    
    /* background: white;
	display: inline;
	/* float: left; */
	/* margin: 20 15px 30px;
	padding: 30px 30px 80px 30px;
	text-align: center;
	text-decoration: none; */
	/* -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0 4px 6px rgba(0,0,0,.3); */
	/* box-shadow: 0 4px 6px rgba(0,0,0,.3); */
	/* -webkit-transition: all .15s linear;
	-moz-transition: all .15s linear; */
	/* transition: all .15s linear;
    z-index:0;
    width: 500px; */ 
/* } */

    /* border: solid 5px black; */



input[type="file"] {
    display: none;
}
/* #image{
    position: relative;
    display: inline-block;
    border: solid;
    width: 1080px;
    height: 1080px;
    background: black;
}
#quotes{
    position: relative;
    display: inline-block;
    width: 1080px;
    height: 540px;
    background: red;
} */

@media only screen and (max-width: 1080px){
    #image{
        background: brown;
    }
}

.homemadeApple{
    font-family: 'Homemade Apple', cursive;
    font-size: 48px;
}
.girlNextDoor{
    font-family: 'The Girl Next Door', cursive;
    font-size: 48px;
}
.princessSofia{
    font-family: 'Princess Sofia', cursive;
    font-size: 48px;
}
.zeyada{
    font-family: 'Zeyada', cursive;
    font-size: 48px;
}
.haviland{
    font-family: 'Mr De Haviland', cursive;
    font-size: 48px;
}
.muellerhoff{
    font-family: 'Herr Von Muellerhoff', cursive;
    font-size: 48px;
}
.cedarville{
    font-family: 'Cedarville Cursive', cursive;
    font-size: 48px;
}
.indieFlower{
    font-family: 'Indie Flower', cursive;
    font-size: 48px;
}