body {
    background-image: url("../Images/Quote\ Me\ background2.jpg");
    background-size: cover;  
}

input[type="file"] {
    display: none;
}

p {
    font-family: 'Indie Flower', cursive;
}

.emailValidation {
    margin-top: 250px;
    font-size: 50px;
}

.form-control {
    width: 50%;
}

.next {
    width: 700px;
    cursor: pointer;
}

.picContainer {
    margin-top: 20px;
    position: static;
    display: none; 
}

.polaroid {
    position: relative;
    background-color: white;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 30px;
    width: 600px;
    z-index: 0;
}

.quoteContainer {
    text-align: center;
    padding: 10px 10px;
  }


.quote{
    font-size: 32px;
    color: black;
    font-family: 'Indie Flower', cursive;
}

.reset {
    display: none;
    padding: 10px;
}

.selectBtn {
    display: none;
}

.start {
    width: 700px;
    cursor: pointer;
}


#angleTitle {
    z-index: 1;
    position: absolute;
    margin-top: -50px;
    margin-left: -60px;
    display: none; 
    width: 275px;
}

#nextButton, #backButton {
    visibility: hidden;
}


@media only screen and (max-width: 780px){
    .polaroid{
        width: 100%;
        padding: 5%;
    }
    .quote{
        font-size: 16px;
    }
    .next{
        width: 100%;
    }
    .quoteContainer{
        padding: 2%;
    }
    #angleTitle{
        width: 150px;
    }
}